pip==19.2
bump2version==0.5.10
wheel==0.33.0
watchdog==0.9.0
flake8==3.7.5
black==18.9b0
tox==3.7.0
coverage==4.5.2
Sphinx==1.8.4
alabaster==0.7.12
twine==1.13.0
{% if cookiecutter.command_line_interface == 'y' -%}
click >= 7.0{% endif %}
{% if cookiecutter.use_pytest == 'y' -%}
pytest==4.2.1
pytest-runner==4.4
pytest-cov==2.6.1{% endif %}
{% if cookiecutter.use_pre_commit_hooks == 'y' -%}
pre-commit==1.13.0{% endif %}
{% if cookiecutter.use_codecov == 'y' -%}
codecov==2.0.15{% endif %}
